{% extends "base.html" %}


{% block title %}Регистрация{% endblock %}

{% block content %}
  <div class="row my-3">
    <div class="col-md-8 mx-auto">
      <div id="firacode" class="alert alert-success" role="alert">
        <h5 class="alert-heading">Регистрация нового пользователя!</h5>
        <p>Пользователь {{ user.email }} успешно зарегистрирован</p>
        <hr>
        <p class="mb-0"><a href="{% url 'accounts:login' %}">Войти</a> в учетную запись</p>
      </div>
    </div>
  </div>
{% endblock %}
