{% extends "base.html" %}


{% block title %}Регистрация{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h5 class="my-2">Настройки</h5>
      <form method="POST" action="">{% csrf_token %}
        <div class="form-group">{{ form.as_p }}</div>
        <button type="submit" class="btn btn-primary">Сохранить настройки</button>
      </form>
      <form method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
        <button type="submit" class="btn btn-danger my-3">Удалить аккаунт</button>
      </form>
    </div>
  </div>
{% endblock %}
