{% extends "base.html" %}


{% block title %}Настройки{% endblock %}

{% block content %}
  <div class="row my-3">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-success" role="alert" style="background-color: #C6E6E6;">
        <h5 class="alert-heading">Настройки рассылки</h5>
        <hr>
        <p>Хотите получать рассылку вакансий?</p>
        <form method="POST" action="">{% csrf_token %}
          <div class="form-group">{{ form.as_p }}</div>
          <button type="submit" class="btn alert-light" style="border-radius: 10px 10px 150px 150px / 10px 10px 10px 10px;">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
